---
import Header from "../components/Header.astro"
import Card from "../components/Card.astro"
import Promo from "../components/Promo.astro"

const basico = {
  title: '#1 Básico',
  price: '1000',
  whatsapp_cant: '10',
  telegram_cant: '45',
  facebook_cant: '30',
  text: 'https://wa.me/5356909921?text=Básico'
}

const standar = {
  title: '#2 Standard',
  price: '1800',
  whatsapp_cant: '160',
  telegram_cant: '45',
  facebook_cant: '65',
  text: 'https://wa.me/5356909921?text=Standard'
}

const pro = {
  title: '#3 PRO',
  price: '2600',
  whatsapp_cant: '90',
  telegram_cant: '45',
  facebook_cant: '300',
  text: 'https://wa.me/5356909921?text=PRO'
}


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>PublicidadPro</title>
	</head>
	<body>
	<Header />
	<img class="background" src="/background.svg"></img>
	<main>
	<section class="promo">
		<Promo img="promowhats.svg" text="Publicidad en +10 grupos de WhatsApp" side={true} />
		<Promo img="promotelegram.svg" text="Anuncios en +20 grupos de Telegram" side={false} />
		<Promo img="promofacebook.svg" text="Publicaciones en +8 grupos de WhatsApp" side={true} />
		<Promo img="promopaquete.svg" text="Publicidad en el Paquete Semanal" side={false} />
		<Promo img="promocolab.svg" text="Presentación en el muro de colaboradores" side={true} />
	</section>
	<section class="planes">
		<Card contenido={basico} />
		<Card contenido={standar} />
		<Card contenido={pro} />
	</section>
	</main>
	</body>
</html>

<style>
	
	.background {
		position: fixed;
		top: 0;
		right: 0;
		z-index: -10;
	}

	.promo {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-bottom: 20px;
	}

	.planes {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;
		align-items: center;
	}
</style>