---
const {title, price, whatsapp_cant, telegram_cant, facebook_cant, text} = Astro.props.contenido
---

<article>
	<p>{title}</p>
	<h2>{price} $</h2>
	<h4>CUP / Semanal</h4>
	<p>Publicación diaria en:</p>
	<div><img src="brand-whatsapp.svg" /><p>{whatsapp_cant} grupos de WhatsApp</p></div>
	<div><img src="brand-telegram.svg" /><p>{telegram_cant} grupos de Telegram</p></div>
	<div><img src="brand-facebook.svg" /><p>{facebook_cant} grupos de FaceBook</p></div>
	<a href={text}><button>Solicitar</button></a>
</article>

<style>
	article {
		width: 250px;
		border: 1px solid black;
		border-radius: 50px;
		text-align: center;
		padding: 10px;
	}

	article div {
		display: flex;
		justify-content: center;
	}

	button {
		height: 40px;
		width: 180px;
		border: 2px solid #09f;
		border-radius: 10px;
		background-color: inherit;
	}
</style>